@page "/login"
@rendermode InteractiveServer
@using LibraryManagementSystemApp.Models
@using LibraryManagementSystemApp.Services
@using Microsoft.AspNetCore.Authorization
@using LibraryManagementSystemApp.Components.Layout
@using System.Text.Json
@layout AuthLayout
@inject NavigationManager Navigation
@inject HttpClient Http
@inject IJSRuntime JS
@inject IHttpContextAccessor httpContextAccessor
@inject AuthService authService

<PageTitle>Login</PageTitle>

<div class="container mt-5">
    <h1 class="text-center mb-3">Library Management System</h1>
    <h2 class="mb-4 text-center">Login</h2>
    <EditForm Model="loginModel" OnValidSubmit="HandleLogin" FormName="loginForm">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <InputText type="email" @bind-Value="loginModel.Email" class="form-control" id="email" />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <InputText @bind-Value="loginModel.Password" type="password" class="form-control" id="password" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </EditForm>
</div>

@code {
    private LoginModel loginModel = new LoginModel();

    private async Task HandleLogin()
    {
        await authService.Login(loginModel);
    }
}
