@page "/login"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@using LibraryManagementSystemApp.Components.Layout
@using System.Text.Json
@layout AuthLayout
@inject NavigationManager Navigation
@inject HttpClient Http
@inject IJSRuntime JS
@inject IHttpContextAccessor httpContextAccessor

<PageTitle>Login</PageTitle>

<div class="container mt-5">
    <h1 class="text-center mb-3">Library Management System</h1>
    <h2 class="mb-4 text-center">Login</h2>
    <EditForm Model="loginModel" OnValidSubmit="HandleLogin" FormName="loginForm" class="">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <InputText type="email" @bind-Value="loginModel.Email" class="form-control" id="email" />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <InputText @bind-Value="loginModel.Password" type="password" class="form-control" id="password" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </EditForm>
</div>

@code {
    private LoginModel loginModel = new LoginModel();

    private async Task HandleLogin()
    {
        var loginData = new { Email = loginModel.Email, Password = loginModel.Password };
        // Handle login here
        var response = await Http.PostAsJsonAsync("/api/v1/auth/login", loginData);

        if (response.IsSuccessStatusCode)
        {
            var jsonResponse = await response.Content.ReadAsStringAsync();
            var token = JsonDocument.Parse(jsonResponse).RootElement.GetProperty("token").GetString();

            if (token != null)
            {
                // Store the token in a cookie
                await JS.InvokeAsync<object>("WriteCookie.WriteCookie", "authToken", token, DateTime.Now.AddMinutes(1));

                // Redirect to home page or any other page
                Navigation.NavigateTo("/");
            }
        }
        else
        {
            Console.WriteLine("Error here");
        }
    }

    public class LoginModel
    {
        public string Email { get; set; }
        public string Password { get; set; }
    }
}
