@page "/users"
@rendermode InteractiveServer

<PageTitle>Users</PageTitle>

<h1>Users</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
